<nav class="header__navbar" id="navbar">
  <div class="header__logo">
    <a href="/index.html">
      <img src="/images/header/popcorn.png" alt="Logo" class="header__logo-icon" />
    </a>
    <span class="header__logo-text">Cinemania</span>
  </div>

  <div class="overlay" id="overlay"></div>

  <ul class="header__links" id="links">
    <li class="active"><a href="/index.html">HOME</a></li>
    <li><a href="/pages/catalog/catalog.html">CATALOG</a></li>
    <li><a href="/pages/library/library.html">MY LIBRARY</a></li>
  </ul>
  <div class="header__mobile-menu">
    <button id="menu" class="header__logo-button header__menu-title">menu</button>

    <div class="header__theme-toggle">
      <label class="header__switch">
        <input type="checkbox" id="toggle" />
        <div class="header__slider-container">
          <svg class="header__icon" id="themeIcon">
            <use href="/images/icon.svg#icon-Vector"></use>
          </svg>
          <svg class="header__icon marquee">
            <use href="/images/icon.svg#icon-Circle"></use>
          </svg>
        </div>
      </label>
    </div>
  </div>
</nav>
<div class="header__sidebar-backdrop" id="sidebar-backdrop">
  <nav class="header__sidebar" id="sidebar">
    <div class="header__logo">
      <img src="/images/header/popcorn.png" alt="Logo" class="header__logo-icon" />
    </div>
    <ul class="header__menu-links" id="menuLinks">
      <li class="active"><a href="/index.html">HOME</a></li>
      <li><a href="/pages/catalog/catalog.html">CATALOG</a></li>
      <li><a href="/pages/library/library.html">MY LIBRARY</a></li>
    </ul>
  </nav>
</div>
<script type="module" src="./header.js"></script>