@import url('./common.css');
@import url('../catalog/catalog.css');
@import url('../pages/index.css');
@import url('../pages/my-library.css');
@import url('../layout/header.css');
@import url('../layout/footer.css');
@import url('../components/team-modal.css');
@import url('../components/hero.css');
@import url('../components/details-modal.css');
@import url('../components/trailer-error.css');
@import url('../components/trailer.modal.css');
@import url('../layout/mobile-nav.css');
@import url('../components/movie-card.css');
@import url('../catalog/genre.css');
@import url('../catalog/movie-grid.css');
@import url('../catalog/search.css');
@import url('../components/Pagination.css');
@import url('../home/upcoming.css');
@import url('../home/weekly.css');
@import url('../my-library/genre.css');
@import url('../my-library/load-more.css');
