* {
  margin: 0;
  padding: 0;
}
.light-theme .upcoming__card,
.light-theme .upcoming__movie-overview,
.light-theme .upcoming__movie-detail,
.light-theme .upcoming__movie-detail > span:first-child,
.light-theme .upcoming__about-title,
.light-theme .upcoming__movie-name,
.light-theme h2,
.light-theme p.upcoming__movie-overview {
  color: #111111;
}
.light-theme .upcoming__vote-box {
  background-color: #f8f8f8;
}

/* === Dark Theme === */
.dark-theme {
  background-color: #121212;
  color: #f8f8f8;
}

.dark-theme .upcoming__card,
.dark-theme .upcoming__movie-overview,
.dark-theme .upcoming__movie-detail,
.dark-theme .upcoming__about-title,
.dark-theme .upcoming__movie-name,
.dark-theme p {
  color: #f8f8f8;
}

p {
  color: #f8f8f8;
}
h2 {
  font-size: 16px;
}
.upcoming {
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.upcoming__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}

.upcoming__card {
  color: #fff;
  max-width: 280px;
  margin: 0 auto;
}

.upcoming__card img {
  width: 280px;
  height: 402px;
  object-fit: cover;
  border-radius: 5px;
}

.upcoming__movie-name {
  font-size: 20px;
  text-transform: uppercase;
  padding: 24px 0 20px;
}

.upcoming__movie-detail {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 56px;
  padding-bottom: 12px;
}
.upcoming__movie-vote {
  gap: 4px;
}

.upcoming__about-title {
  padding: 20px 0 16px;
}

.upcoming__movie-detail > span:first-child {
  color: #ccc;
  min-width: 100px;
}

.upcoming__highlight {
  color: #ff7b00;
  font-weight: 600;
}

.upcoming__vote-box {
  background-color: #ffffff;
  color: #111111;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 6px;
  font-size: 0.85rem;
}

.upcoming__about-title {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #ddd;
}

.upcoming__movie-overview {
  font-size: 14px;
  color: #bbb;
  line-height: 1.4;
  padding-bottom: 20px;
}

.upcoming__btn {
  background: linear-gradient(90deg, #ffc226, #f84119);
  color: #111111;
  font-size: 12px;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.upcoming__btn--add {
  width: 140px;
  height: 38px;
}
.upcoming__btn--remove {
  width: 176px;
  height: 38px;
  align-self: flex-start;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.upcoming__btn:hover {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(90deg, #ffc226, #f84119) border-box;
  color: #f84119;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
  .upcoming {
    padding: 32px;
  }
  .upcoming__content {
    gap: 24px;
  }

  .upcoming__card {
    max-width: 704px;
  }
  .upcoming__card img {
    width: 704px;
    height: 400px;
  }
  .upcoming__details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .upcoming__btn--add {
    width: 155px;
    height: 40px;
  }
  .upcoming__btn--remove {
    width: 176px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 28px;
  }
  .upcoming {
    border-radius: 10px;
    max-width: 1211px;
  }

  .upcoming__content {
    display: flex;
    gap: 20px;
    padding-top: 28px;
  }

  .upcoming__card {
    display: flex;
    gap: 16px;
    max-width: 1211px;
    flex-direction: row;
  }

  .upcoming__card img {
    width: 805px;
    height: 458px;
  }
  .upcoming__details-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .upcoming__info {
    max-width: 390px;
    width: 100%;
  }
  .upcoming__movie-name {
    font-size: 32px;
    padding: 0 0 28px;
  }
}
