<!-- TEAM MODAL -->
<div class="team__backdrop is-hidden">
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button">&times;</button>
    <h2 class="team__title">TEAM DEVELOPERS</h2>

    <ul class="team__list">
      <li class="team__item">
        <img src="/img/team/ömer.jpg" class="team__img" />
        <h3 class="team__member">Ömer Özdemir</h3>
        <p class="team__role">Team Lead</p>
        <div class="team__socials">
          <a
            href="https://github.com/omerozdemir7"
            target="_blank"
            aria-label="GitHub"
          >
            <svg width="26" height="26">
              <use href="/img/icon-github.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="team__item">
        <img src="/img/team/merdan.jpg" class="team__img" />
        <h3 class="team__member">Merdan Şahin</h3>
        <p class="team__role">Developer</p>
        <div class="team__socials">
          <a
            href="https://github.com/merdansahin"
            target="_blank"
            aria-label="GitHub"
          >
            <svg width="26" height="26">
              <use href="/img/icon-github.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="team__item">
        <img src="/img/team/dev1.jpg" class="team__img" />
        <h3 class="team__member">Ali Kemal Demir</h3>
        <p class="team__role">Developer</p>
        <div class="team__socials">
          <a
            href="https://github.com/kullaniciAdi"
            target="_blank"
            aria-label="GitHub"
          >
            <svg width="26" height="26">
              <use href="/img/icon-github.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="team__item">
        <img src="/img/team/dev2.jpg" class="team__img" />
        <h3 class="team__member">Rıdvan Kesken</h3>
        <p class="team__role">Developer</p>
        <div class="team__socials">
          <a
            href="https://github.com/kullaniciAdi"
            target="_blank"
            aria-label="GitHub"
          >
            <svg width="26" height="26">
              <use href="/img/icon-github.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="/img/team/dev2.jpg" class="team__img" />
        <h3 class="team__member">Canberk Yıldız</h3>
        <p class="team__role">Developer</p>
        <div class="team__socials">
          <a
            href="https://github.com/canberkyildiz25"
            target="_blank"
            aria-label="GitHub"
          >
            <svg width="26" height="26">
              <use href="/img/icon-github.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
