/* Sayfalama (Pagination) */
.pagination-section {
  padding: 40px 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination-arrow,
.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--text-grey);
  border-radius: 8px;
  color: var(--text-grey);
  font-weight: 700;
  transition:
    border-color 0.3s,
    color 0.3s,
    background-color 0.3s;
}
.pagination-arrow:hover,
.pagination-btn:hover {
  border-color: var(--primary-white);
  color: var(--primary-white);
}
.pagination-btn.active {
  background-color: var(--primary-orange);
  color: var(--primary-black);
  border-color: var(--primary-orange);
}
.pagination-dots {
  color: var(--text-grey);
  padding: 0 5px;
}