/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./modern-normalize.css');
@import url('./reset.css');

/* Sections style */
@import url('../components/header/header.css');
@import url('../components/footer/footer.css');
@import url('../components/hero/hero.css');
@import url('../components/loader/loader.css');
@import url('../components/scrollup/scrollup.css');
@import url('../components/modal/modal.css');
@import url('../components/searchbar/searchbar.css');
@import url('../components/upcoming/upcoming.css');
@import url('../components/weekly/weekly.css');
@import url('../components/pagination/pagination.css');
