
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(14px);
  color: #fff;
  padding: 8px 20px;
  max-width: 100%;
}

.header__menu-title {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #b7b7b7;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 88px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header__logo-icon {
  width: 32px;
  height: 32px;
  align-content: center;
  display: flex;
}

.header__logo-text {
  display: none;
}
.header__nav-links {
  display: none;
}
.header__nav-links:checked {
  display: flex;
  background-color: #282828;
  height: 50.75rem;
  position: absolute;
  max-width: 13.625rem;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 100;
  list-style: none;
}

.header__nav-links li {
  margin: 0 15px;
}

.header__nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.header__nav-links li.active a {
  color: orange;
}
#toggle {
  display: none;
}
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #171717;
  color: #ffffff;
}
.header__theme-toggle {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__switch {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 18px;
  background: linear-gradient(45deg, #ffb347, #ff512f);
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.header__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header__slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 5px;
  height: 18px;
}

.header__icon {
  width: 14px;
  height: 14px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(250%) rotate(180deg);
}

.header__icon.marquee {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-250%) rotate(180deg);
}
#toggle:checked ~ .header__slider-container .header__icon,
input:checked + .header__slider-container .header__icon {
  transform: rotate(0deg);
}

.header__sidebar {
  display: none;
  flex-direction: column;
  padding-top: 8px;
  padding-left: 20px;
  width: 204px;
  height: 100%;
  background: #171717;
  border-radius: 0 8px 8px 0;
  gap: 40px;
  position: absolute;
  z-index: 10000;
}
.header__sidebar.open{
  display: flex;
}
.header__sidebar-backdrop.open{
  display: block;
}
.header__menu-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
}
.header__menu-links a {
  font-size: 14px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

.header__menu-links li.active a {
  color: #f87719;
}

.header__sidebar-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 999;
}
.header__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__sidebar-backdrop {
    display: none;
  }
  .header__navbar {
    padding: 12px 32px;
  }
  .header__menu-title {
    display: none;
  }
  .header__links {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 30px;
    margin: 0;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;
    padding: 0;
  }
  .header__links li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #b7b7b7;
  }
  .header__links li.active a {
    color: #f87719;
  }
  .header__logo-text {
    display: block;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
  }
  .header__switch {
    height: 24px;
  }
  .header__slider-container {
    padding: 3px;
    align-items: unset;
  }
  .header__logo {
    gap: 8px;
  }
  .header__icon {
    width: 18px;
    height: 18px;
    transform: translateX(220%);
  }
  .header__icon.marquee {
    transform: translateX(-220%);
  }
}
