#home-hero {
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
}

body.light-mode .detail-key {
  color: #555;
}
body.light-mode .detail-value {
  color: #000;
}
body.light-mode .rating-badge {
  background-color: var(--primary-orange);
  color: var(--primary-white);
}
body.light-mode .section-header h2,
body.light-mode .upcoming-section h2,
body.light-mode .upcoming-info h3 {
  color: var(--light-text);
}
body.light-mode .about-text {
  color: #555;
}
