.footer {
  margin-top: auto;
  min-height: 30vh;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 380px;
}
.footer__link {
  color: gray;
  font-size: 22px;
}
.footer-text {
  font-size: 22px;
}
@media (max-width: 480px) {
  .footer-text,
  .footer__link {
    font-size: 16px;
  }
}
.footer__link:hover {
  color: white;
}
