@import url('./common.css');
@import url('./catalog/catalog.css');
@import url('./home/index.css');
@import url('./my-library/my-library.css');
@import url('./header/header.css');
@import url('./footer/footer.css');
@import url('./footer/team-modal.css');
@import url('./common/hero.css');
@import url('./modal/details-modal.css');
@import url('./modal/trailer-error.css');
@import url('./modal/trailer.modal.css');
@import url('./header/mobile-nav.css');
@import url('./common/movie-card.css');
@import url('./home/upcoming.css');
@import url('./home/weekly-Trends.css');
