.weekly {
  max-width: 280px;
  padding: 0;
  margin: 20px auto 0;
  width: 100%;
}

body.light-theme .weekly__header h2 {
  color: #111;
}

.weekly__header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

.weekly__gallery li {
  list-style: none;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--background-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.weekly__gallery li:hover {
  transform: scale(1.03) perspective(600px) translateZ(8px);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  z-index: 2;
}

body.light-theme .weekly__gallery li {
  box-shadow: 0 0 20px rgba(255, 136, 25, 0.1);
}

.weekly__gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.weekly__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 280px;
  height: 406px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 63%,
    rgba(0, 0, 0, 0.9) 92%
  );
  margin: 24px auto;
}

.weekly__card-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.weekly__card-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.weekly__card-title {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
/* check */
.weekly__card-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.weekly__card-info {
  color: #f8f8f8;
  font-size: 12px;
  margin: 0;
}

body.light-theme .weekly__card-info {
  color: #f8f8f8;
}

.weekly__card-rating {
  position: absolute;
  bottom: 16px;
  display: flex;
  gap: 4px;
  right: 12px;
  width: 86px;
  height: 14px;
}

.weekly__card-rating img {
  width: 14px;
  height: 14px;
}

.weekly__see-all {
  color: #f87719;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.weekly__see-all:hover {
  color: #ffa500;
  text-decoration: underline;
}

.weekly__header h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.weekly__modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--background-color, #111);
  color: var(--text-color, #fff);
  padding: 20px;
  border-radius: 20px;
  width: 80vw;
  max-width: 320px;
  max-height: 100vh;
  height: auto;
  box-shadow: 1px 1px 14px 4px #ff6b086b;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

body.light-theme .weekly__modal {
  background-color: #fff;
  color: #111;
}

.weekly__modal-poster {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.weekly__modal-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.weekly__modal-details h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 6px;
}

.weekly__modal-details h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  color: #b7b7b7;
}

body.light-theme .weekly__modal-details h3 {
  color: #111111;
}

.weekly__modal-details p {
  font-size: 13px;
  line-height: 1.3;
  margin: 2px 0;
  color: #b7b7b7;
}

body.light-theme .weekly__modal-details p {
  color: #111111;
}

.weekly__library-btn {
  margin-top: 8px;
  width: 140px;
  height: 38px;
  align-self: flex-start;
  padding: 6px 16px;
  border: 1px solid #f87719;
  background-color: #111111;
  color: #fff;
  font-weight: 500;
  border-radius: 74px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 12px;
}

.weekly__library-btn:hover {
  background-color: #fff;
  color: #f87719;
  border: 1px solid #fff;
}

body.light-theme .weekly__library-btn {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #f87719;
}

body.light-theme .weekly__library-btn:hover {
  background-color: #111111;
  color: #f87719;
  border: 1px solid #111111;
}

.weekly__close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease, stroke 0.2s ease;
}

.weekly__icon-close {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

body.light-theme .weekly__icon-close {
  stroke: #111111;
}

body.light-theme .weekly__icon-close:hover {
  stroke: #f87719;
}

.weekly__close-btn:hover .weekly__icon-close {
  stroke: #f87719;
}

.weekly__remove-btn {
  width: 176px;
  height: 38px;
  margin-top: 8px;
  align-self: flex-start;
  padding: 3px 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 74px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid #f87719;
  background-color: #111111;
}

.weekly__remove-btn:hover {
  background-color: #fff;
  color: #f87719;
  border: 1px solid #f87719;
}

body.light-theme .weekly__remove-btn {
  background-color: #fff;
  color: #111111;
  border: 1px solid #f87719;
}

body.light-theme .weekly__remove-btn:hover {
  background-color: #111111;
  color: #f87719;
  border: 1px solid #111111;
}

.weekly__icon--full-star,
.weekly__icon--half-star {
  fill: #ff6b35;
  color: #ff6b35;
  stroke: #ff6b35;
  stroke-width: 1;
}

.weekly__icon--empty-star {
  fill: transparent;
  color: #ff6b35;
  stroke: #ff6b35;
  stroke-width: 0;
}

/* TABLET */

@media (min-width: 768px) {
  .weekly {
    max-width: 704px;
    margin: 0 auto;
    padding: 0;
  }

  section {
    gap: 24px;
  }

  .weekly__header {
    margin: 0 auto;
    margin-top: 52px;
  }

  .weekly__see-all {
    font-size: 24px;
    width: 72px;
    height: 28px;
  }

  .weekly__header h2 {
    font-size: 24px;
    width: 185px;
    height: 28px;
  }

  .weekly__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .poster-wrapper {
    height: 100%;
  }

  .weekly__card img {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .weekly__card {
    flex-basis: calc((100% - 40px) / 3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 325px;
    width: 224px;
    margin: 24px auto;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%
    );
  }

  .weekly__card-img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
  }

  .weekly__card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  }

  .weekly__card-title {
    font-size: 12px;
    font-weight: 500;
    color: --text-color;
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .weekly__card-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .weekly__card-info {
    font-size: 12px;
    color: #f8f8f8;
    margin: 0;
  }

  body.light-theme .card-info {
    color: #f8f8f8;
  }

  .weekly__card-rating {
    position: absolute;
    bottom: 17px;
    display: flex;
    gap: 4px;
    right: 12px;
    width: 66px;
    height: 10px;
  }

  .weekly__card-rating img {
    width: 14px;
    height: 14px;
  }

  .weekly,
  .weekly__header {
    width: 100%;
    margin: 52px auto 0;
  }

  .weekly__modal-poster {
    width: 220px;
    flex-shrink: 0;
  }

  .weekly__modal {
    flex-direction: row;
    gap: 20px;
    max-width: 680px;
    padding: 24px;
  }

  body.light-theme .weekly-movie-modal {
    background-color: #fff;
    color: #111;
  }

  .weekly__modal-details h2 {
    font-size: 22px;
  }

  .weekly__modal-details p {
    font-size: 15px;
  }

  .weekly__modal-details h3 {
    font-size: 16px;
  }

  .popup-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease, stroke 0.2s ease;
  }

  .icon-close {
    width: 24px;
    height: 24px;
  }
}

/* DESKTOP */

@media (min-width: 1280px) {
  .weekly {
    width: 1215px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  section {
    gap: 28px;
  }

  .weekly__card img {
    border-radius: 5px;
  }

  .weekly__header {
    width: 1176px;
    max-width: 100%;
  }

  .weekly__header h2 {
    font-size: 28px;
    width: 250px;
    height: 33px;
  }

  .weekly__see-all {
    font-size: 28px;
    width: 84px;
    height: 33px;
  }

  .weekly__card {
    border-radius: 5px;
    margin: 24 auto;
    height: 574px;
    width: 395px;
  }

  .weekly__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    justify-content: flex-start;
  }

  .weekly__card-title {
    font-size: 20px;
  }

  .weekly__card-info {
    font-size: 20px;
  }

  body.light-theme .card-info {
    color: #f8f8f8;
  }

  .weekly__card-rating {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 4px;
    right: 20px;
    width: 106px;
    height: 18px;
  }

  .weekly__modal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--background-color, #111);
    color: var(--text-color, #fff);
    padding: 40px;
    border-radius: 20px;
    max-width: 960px;
    width: 90vw;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-y: auto;
  }

  body.light-theme .weekly-movie-modal {
    background-color: #fff;
    color: #111;
  }

  .weekly__modal-poster {
    width: 375px;
    height: 478px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  }

  .weekly__modal-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
  }

  .weekly__modal-details h2 {
    font-size: 24px;
    font-weight: var(--fw-semibold, 600);
    color: var(--text-color);
    margin-bottom: 12px;
  }

  .weekly__modal-details p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
  }

  .weekly__modal-details h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: var(--fw-medium, 500);
  }

  .weekly__library-btn {
    margin-top: 24px;
    align-self: flex-start;
    border-radius: 74px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
  }

  .popup-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease, stroke 0.2s ease;
  }

  .icon-close {
    width: 24px;
    height: 24px;
  }

  .weekly__remove-btn {
    width: 176px;
    height: 38px;
    margin-top: 24px;
    align-self: flex-start;
    padding: 3px 16px;
    font-weight: 500;
    border-radius: 74px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
  }
}
