.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
}

button.footer__students-btn {
  cursor: pointer;
  border: none;
  font-size: 16px;
  text-decoration: underline;
}

.footer__modal-title {
  text-align: center;
  color: #f87719;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.light-theme .footer__modal-title {
  color: #f87719;
}

.footer__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 40px 20px;
}

.footer__modal-overlay.active {
  display: flex;
}

.footer__modal-content {
  background: #f8f8f8;
  color: #f87719;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 10px 5px #f87719;
  position: relative;
}

.footer__modal-close-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 30px;
  color: #f8f8f8;
  cursor: pointer;
}

.footer__modal-close-btn:hover {
  color: #f87719;
}

.footer__student-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 15px;
}

.footer__student-item {
  text-align: center;
  border-radius: 10px;
  transition: transform 250ms ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer__student-item:hover {
  transform: scale(1.05);
}

.footer__student-photo {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.footer__student-info {
  background-color: #595959;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 20px;
}

.footer__student-info p {
  color: #b7b7b7;
  font-weight: bold;
}

.footer__icon-link {
  color: #595959;
  margin: 0 5px;
}

.footer__icon:hover {
  transform: scale(1.05);
}

.footer__description {
  color: #595959;
}

#openFooterModalBtn {
  font-weight: bold;
  color: #595959;
  background: none;
}

.light-theme .footer__icon {
  transition: transform 250ms ease-in-out;
  fill: #f8f8f8;
}

.light-theme .footer__modal-content {
  color: #f87719;
}

.light-theme .footer__student-info p {
  color: #f87719;
}

.dark-theme .footer__student-info {
  background: #121212;
}
.dark-theme .footer__modal-content {
  background: #121212;
}

.dark-theme .footer__modal-close-btn {
  color: #121212;
}

.dark-theme .footer__icon {
  fill: #f8f8f8;
  transition: transform 250ms ease-in-out;
}

.dark-theme .footer__student-item {
  box-shadow: 0 4px 8px rgba(46, 46, 46, 0.936);
}
