<section class="hero-section" id="home-hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Let's Make Your Own Cinema</h1>
      <p class="hero-description">
        Is a guide to creating a personalized movie theater experience.
        You'll need a projector, screen, and speakers. Decorate your
        space, choose your films, and stock up on snacks for the full experience.
      </p>
      <div class="hero-buttons">
         <a href="./catalog.html" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
</section>