/* Arama Bölümü */
.search-section {
  padding: 30px 0;
}
.search-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}
.search-bar,
.search-dropdown {
  padding: 14px 20px;
  background-color: transparent;
  border: 1px solid var(--text-grey);
  border-radius: 30px;
  color: var(--primary-white);
  font-size: 16px;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
}
.search-bar {
  width: 100%;
  flex-grow: 1; 
}
.search-bar::placeholder {
  color: var(--text-grey);
}
.search-dropdown {
  width: 150px;
  flex-shrink: 0;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2010%205'%3E%3Cpath%20d%3D'M0%200l5%205%205-5z'%20fill%3D'%23B7B7B7'%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 10px;
}
.search-dropdown option {
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.search-btn {
  width: 46px;
  height: 46px;
  background-color: var(--primary-orange);
  border: none;
  border-radius: 50%;
  color: var(--primary-white);
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0;
}